<html>
<head>
    <title></title>
    <style>
        td, th {
            padding: 10px;
        }
        .alive {
            background-color: green;
        }
        .dead {
            background-color: orange;
        }
    </style>
</head>
<body>
<div style="display: flex">
    <div>