            </div>
            <div>
                <p>Final world is saved to file <a target="_blank" download="true" href="../../out.xml">out.xml</a></p>
                <p><a href="/?full=true">Show full simulation</a> (Warning: shows every iteration)</p>
                <p><a href="/">Show simple simulation</a> (only start and end of simulation is shown)</p>
            </div>
        </div>
    </body>
</html>